.comment-form {
  width: 100%;
  flex-direction: column !important;
  align-items: self-start !important;
}

.comment-form .form-floating {
  width: 50%;
}

.comment-form textarea {
  width: 100%;
  min-height: 200px;
  font-size: 2rem;
}
