.container .comments-container .comment-form {
  width: 100%;
  flex-direction: column;
  align-items: self-start;
}

.comment-form .form-floating {
  width: 50%;
}

.comment-form textarea {
  width: 100%;
  min-height: 200px;
  font-size: 2rem;
}
