/* start custom code */

/* homepage */

/* informations */
html{
    font-size: 10px;

}
.informations_homepage{
    padding: 12rem 0 0rem;
}
.main .container{
    padding: 10rem 0;
}
.informations_homepage .presentation{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    
}

.informations_homepage .name .inner_name{
    font-size: 7rem;
}
.informations_homepage .name{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.informations_homepage .name, .informations_homepage .picture{
    flex: 0 50%;
}
.informations_homepage .picture{
    position: relative;
}
.informations_homepage .picture .social_links{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    right: 0;
    position: absolute;
    width: auto;
    top: calc(100% + 2rem);
}

.informations_homepage .picture::after{
    top: 0;
    z-index: -1;
    left: 0;
    background-color: brown;
    width: 150%;
    transform: rotate(45deg);
    height: 25%;
    content: "";
    position: absolute;
}
.informations_homepage .picture img{
    max-width: 100%;
    width: 100%;
}
.slogan{
    font-size: 2rem;
}

.separator{
    margin: 2rem 0;
    height: 0.2rem;
    background-color: var(--bs-body-color);
    width: 100%;
    max-width: 15rem;
}

@media screen and (min-width: 768px) {
    .informations_homepage .presentation{
    
        flex-direction: row;
        
    }
}